<%- include('includes/header'); %>
<%- include('includes/nav'); %>

<div class="list-group">
  <div class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Nome Usario</h5>
      <small>criado a dias atras</small>
    </div>
    <div class="d-flex w-100 justify-content-between">
      <p class="mb-1">email usuario</p>
      <button>botão modificar</button>
    </div>
    <small>alguma informação extra do usuario</small>
  </div>
</div>

<%- include('includes/footer'); %>


